<div class='row>'></div>

<h2 class='four columns offset-by-four'> Francesca Wedemeyer </h2>

<a href="/contact"><img src="/me.jpg"></a> 

<h3 class="offset-by-four-columns">Ruby</h3>
<h3 class="four columns">Sinatra</h3>
<h3 class="four columns">HTML</h3>
<h3 class="four columns">CSS</h3>
<h3 class="four columns">Adobe CS</h3>
	